h1 {
font-family: Arial, sans-serif;
color: #1d2e3a;
text-align: center;
}
h2 {
font-family: Arial, sans-serif;
color: #1d2e3a;
text-align: center;
}
h3 {
font-family: Arial, sans-serif;
color: #1d2e3a;
}
h4 {
font-family: Arial, sans-serif;
color: #1d2e3a;
text-align: center;
}
body {background-color: rgb(233, 245, 246);}
